/* **** MENU **** */

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em;
}

.quote.stripe.segment {

}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.imgLogo {
    padding-right: 4em;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}


/* *** HOME *** */

html {
    background: url('Img/Grey-Background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background:transparent !important;
}

.firstImage {
    height: 50em !important;
    background-color:lightcoral;
}
.welkomText {
    padding-top: 2em !important;
    padding-bottom: auto !important;
    width: auto;
    font-size: 6em !important;
    text-align: center;
}
.iconDrop {
    font-size: 5em !important;
    margin-left: 48% !important;
    padding-top: 10% !important;
}
.mainGrid {
    margin-top:10em !important;
    margin-bottom: 3em !important;
}
.firstColumnEvent {
    width: 39em !important;
    margin-left: 12%!important;
}
.rowFirstColomn {
    height: 5em;
}
.tittleEvent {
    text-align: center;
    margin-bottom:1em !important;
    font-size: 2.5em !important;
    font-weight: bolder!important;
}
.colDate {
    margin-left:2em !important;
    font-size:1.2em !important;
    width:3em !important;
    font-weight: bold !important;
}
.colMonth {
    font-size:1.2em !important;
    width:7em !important;
    font-weight: bold !important;
}
.colText {
    width:auto !important;
    height:auto !important;
    font-size: 1.3em !important;
}
.secondColomnEvent {
    width: 50em !important;
    margin-left:9% !important;
    margin-top: 0em !important;
}
.gridSecondEvent {
    margin-left: 3em !important;
}
.rowTittleTopic {
    font-size: 1.5em !important;
    font-weight: bold !important;
}
.rowCommentsTopic {
    font-size:1.3em !important;
    padding-top: 0em !important;
}
.StuverDag {
    margin-bottom: 3em !important;
}
.colQuote {
    width: 80% !important;
}
.textQuote {
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.colStuver {
    width: 16% !important;
}

